/AK9.Web/bin/Debug/netcoreapp2.2
/AK9.Web/obj
/AK9.Admin/bin/Debug/netcoreapp2.2
/AK9.Admin/obj/Debug/netcoreapp2.2
/AK9.Admin/obj
/AK9.AppHelper/bin/Debug/netstandard2.0
/AK9.AppHelper/obj/Debug/netstandard2.0
/AK9.DAL/bin/Debug/netstandard2.0
/AK9.DAL/obj/Debug/netstandard2.0
/AK9.Service/bin/Debug/netstandard2.0
/AK9.Service/obj/Debug/netstandard2.0
/AK9.DAL/obj
/AK9.Service/obj
/.vs/AK9/v15/Server/sqlite3
/.vs/AK9/DesignTimeBuild
/.vs/AK9/v15
/AK9.AppHelper/bin/Release/netstandard2.0
/AK9.AppHelper/obj/Release/netstandard2.0
/AK9.BLL/bin/Debug/netstandard2.0
/AK9.BLL/bin/Release/netstandard2.0
/AK9.BLL/obj
/AK9.DAL/bin/Release/netstandard2.0
/AK9.Web/bin/Release/netcoreapp2.2
/AK9.Admin/bin/Release/netcoreapp2.2
/AK9.AppHelper/obj
