<div class="b-gallery-1">
    <div class="js-zoom-gallery js-scroll-content">
        <div class="b-gallery-1__item"><a href="~/assets/media/components/b-gallery-1/1.jpeg" class="js-zoom-gallery__item"><img src="~/assets/media/components/b-gallery-1/1.jpeg" alt="foto" class="img-responsive" /></a></div>
        <div class="b-gallery-1__item"><a href="~/assets/media/components/b-gallery-1/2.jpeg" class="js-zoom-gallery__item"><img src="~/assets/media/components/b-gallery-1/2.jpeg" alt="foto" class="img-responsive" /></a></div>
        <div class="b-gallery-1__item"><a href="~/assets/media/components/b-gallery-1/3.jpeg" class="js-zoom-gallery__item"><img src="~/assets/media/components/b-gallery-1/3.jpeg" alt="foto" class="img-responsive" /></a></div>
        <div class="b-gallery-1__item"><a href="~/assets/media/components/b-gallery-1/4.jpeg" class="js-zoom-gallery__item"><img src="~/assets/media/components/b-gallery-1/4.jpeg" alt="foto" class="img-responsive" /></a></div>
    </div><span class="b-gallery-1__btn js-scroll-next btn btn-default btn-sm btn-effect">load more images</span>
    <div class="js-zoom-gallery js-scroll-content">
        <div class="b-gallery-1__item"><a href="~/assets/media/components/b-gallery-1/5.jpeg" class="js-zoom-gallery__item"><img src="~/assets/media/components/b-gallery-1/5.jpeg" alt="foto" class="img-responsive" /></a></div>
        <div class="b-gallery-1__item"><a href="~/assets/media/components/b-gallery-1/6.jpg" class="js-zoom-gallery__item"><img src="~/assets/media/components/b-gallery-1/6.jpg" alt="foto" class="img-responsive" /></a></div>
        <div class="b-gallery-1__item"><a href="~/assets/media/components/b-gallery-1/7.jpg" class="js-zoom-gallery__item"><img src="~/assets/media/components/b-gallery-1/7.jpg" alt="foto" class="img-responsive" /></a></div>
        <div class="b-gallery-1__item"><a href="~/assets/media/components/b-gallery-1/8.jpg" class="js-zoom-gallery__item"><img src="~/assets/media/components/b-gallery-1/8.jpg" alt="foto" class="img-responsive" /></a></div>
    </div>
</div>